# 11.S188 / 11.S952 Hack the City: Applied Data Science for Public Good

## Hacking Workshop 1: Computing Environment Set-up

### 1. Anaconda Distribution
The open-source Anaconda Distribution is the easiest way to perform Python/R data science and machine learning on Linux, Windows, and Mac OS. 

- Step 1: Use the this link https://www.anaconda.com/distribution/ to download the __Python 3 version__ of Anaconda.


- Step 2: After successfully downloaded Anaconda Distribution. Run Anaconda Navigator, then you will see a main menu of the Navigator with 4 items:
    - __Home__: This window shows all current coding environment / application,  such as Jupyter Notebook, JupyterLab, Spyder, RStudio, and among others. If the application is pre-installed, you can directly launch it by clicking "Launch" button. Otherwise, you will need to Install first before launching. You can also choose which version of the application to install by clicking the small gear icon on the upper-right corner of each application.   
    - __Environments__: This window shows all current settings of your Python environemnt. We will explain more in Step 3. 
    
    - __Learning__: Anaconda Navigator provides rich learning resources including library documentations, tutorials, and technical reference. You can learn more in-depth specifications  here.
    
    - __Community__: Python community is huge and diverse. Here you can find various forums, online interest groups, and blogs to communicate and engage with others.  


- Step 3: Go to __Environment__, this window provides a list of all installed libraries and their current version. This is your central place to install new libraries or upgrade installed ones to a newer version.


- Step 4: Go to __Home__, launch [Jupyter Notebook](https://jupyter.org), a web-based interactive computing notebook environment. A new window should pop up on your browser showing your [home directry](http://www.linfo.org/home_directory.html). You now can 1) navigate through your file directories; 2) create new folder, add, delete, or rename files; 3) create new Jupyter Notebooks.


Through the workshop, we will introduce multiple most commonly used Python Packages for applied data science practice. You can find a comprehensive Python Package Index here: https://pypi.org


### 2. Pandas

[Pandas](https://pandas.pydata.org) (Python Data Analysis Library) is a open source package widely used for [data munding and wrangling](https://en.wikipedia.org/wiki/Data_wrangling). Some major functions include:

- Reading and writing data in vaious formats;
- Data manupulation including reshaping, pivoting, slicing, indexing, and subsetting large datasets.
- Data merging and joining;
- Data cleaning, such as hanlding missing value or replacing value;
- Basic analysis tools for descriptive summary and time-series analysis.

Pandas is popular in a wide variety of academic and commercial domains, including Finance, Neuroscience, Economics, Statistics, Advertising, Web Analytics, and more. This tutorial guides you some basic Pandas techniques. Below is a 10 minutes [quick overview](https://www.youtube.com/watch?v=_T8LGqJtuGc&feature=emb_title) of Pandas by the creator Wes McKinney.

In [24]:
from IPython.display import IFrame

IFrame(width="650", height="400", src="https://www.youtube.com/embed/_T8LGqJtuGc?rel=0&amp;controls=0&amp;showinfo=0")

<font color='red'>__Import a package:__</font> 

You need to import a package into the your Jupyter Notebook to enable its modules. You can use "import" to load any package and use its name (e.g. pandas). For convenience, you can also use "import ... as ..." to import a package and name it with an abbreviation. 

A common example is importing pandas as "pd" (see demo below).

### 2.1 Loading datasets using Pandas
You can use padans to load various data formats including csv (comma-separated values) or text files [(pd.read_csv)](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html), Microsoft Excel files [(pandas.read_excel)](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html), and even SQL database [(pandas.read_sql_table)](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql_table.html#pandas.read_sql_table).

#### Tabular dataset example: Energy consumption and GHG emissions of MIT Buildings

In 2014, the City of Cambridge passed a local ordinance on building energy use disclosure. 

You can know more about this ordinance [here](https://www.buildingrating.org/policy/cambridges-building-energy-use-disclosure-ordinance-no-1360).

In [27]:
import pandas as pd

## Load csv dataset:
df = pd.read_csv('MIT_Building_Energy_and_Water_Use_Data_Disclosure_2016-2018_clean.csv')

# df.head()

print (df.shape)

(423, 16)

### Dataframe
A DataFrame has a tabular data structure that you may find similar as the spreadsheets in Microsoft Excel.

In [28]:
print (type(df))
print ("--"*30)

## Print all column names:
print (df.columns)
print ("--"*30)

## A column in a DataFrame can be retrieved as a Series either by dict-like notation
## or by attribute:
print (df['Building ID'])

<class 'pandas.core.frame.DataFrame'>
------------------------------------------------------------
Index(['Reporting Year', 'Building ID', 'MapLot', 'Year Added',
       'Annual Report Received', 'Report Type', 'Buildings Included',
       'Parent Building ID', 'Assessor Address', 'Address Point GIS',
       'Grantee', 'Property Type', 'Year Built',
       'Property GFA - Self Reported (ft2)',
       'Total GHG Emissions (Metric Tons CO2e)',
       'Water Use (All Water Sources) (kgal)'],
      dtype='object')
------------------------------------------------------------
0       680-2
1       662-7
2       665-4
3       662-1
4      699-12
        ...
418    699-19
419     696-1
420     665-2
421     742-1
422    668-66
Name: Building ID, Length: 423, dtype: object

In [4]:
# Create a dataframe
pd.DataFrame(index=[0,1,2,3], columns=['a','b','c'])

     a    b    c
0  NaN  NaN  NaN
1  NaN  NaN  NaN
2  NaN  NaN  NaN
3  NaN  NaN  NaN

### Series
A Series is a one-dimensional array-like object containing an array of data and an associated array of data lables (aka index). One particular column of a dataframe is a series.

In [5]:
## Series
print (type(df['Building ID']))

# You can get the array representation and index object of the Series by calling its values and index:
print (df['Building ID'].values)
print (df['Building ID'].index)

<class 'pandas.core.series.Series'>
['680-2' '662-7' '665-4' '662-1' '699-12' '708-12' '665-15' '668-38'
 '680-10' '655-2' '665-11' '665-1' '747-4' '708-18' '667-4' '668-35'
 '668-17' '665-6' '747-7' '665-16' '687-2' '695-5' '696-5' '746-2' '674-5'
 '661-2' '668-6' '702-3' '668-26' '747-1' '668-8' '668-36' '687-5'
 '668-57' '667-5' '668-68' '708-13' '702-2' '667-7' '744-10' '665-12'
 '680-14' '750-3' '668-66' '714-4' '749-1' '668-7' '728-1' '714-5'
 '668-33' '699-25' '696-7' '708-5' '668-39' '699-6' '672-6' '747-3'
 '668-10' '668-4' '668-62' '668-1' '667-1' '669-6' '665-10' '668-14'
 '705-1' '696-1' '667-2' '665-18' '737-2' '662-9' '665-7' '672-1' '652-2'
 '665-14' '668-54' '699-18' '687-1' '665-9' '699-19' '668-9' '747-5'
 '668-34' '672-8' '668-37' '668-3' '708-20' '695-1' '668-5' '665-3'
 '668-13' '703-6' '668-2' '702-6' '747-9' '666-1' '708-16' '665-8'
 '668-76' '747-8' '668-32' '747-6' '728-3' '668-16' '708-19' '668-11'
 '672-3' '668-50' '687-4' '677-3' '708-21' '665-5' '668-18' '699-13'
 '750-1' '665-2' '668-31' '699-17' '703-2' '699-2' '662-11' '672-7'
 '667-6' '665-17' '687-3' '708-6' '742-1' '750-7' '695-2' '703-1' '674-3'
 '680-7' '680-13' '672-4' '668-64' '668-24' '672-5' '668-56' '677-1'
 '747-2' '695-1' '662-10' '746-5' '742-1' '672-7' '668-56' '668-62'
 '702-3' '749-1' '668-16' '699-2' '708-21' '708-19' '708-16' '665-15'
 '662-1' '668-35' '669-6' '665-5' '747-2' '708-13' '662-9' '747-9'
 '665-12' '668-14' '695-5' '696-1' '667-7' '714-5' '699-12' '667-2'
 '687-3' '714-4' '699-18' '661-2' '668-24' '668-50' '674-6' '687-2'
 '665-8' '702-6' '672-4' '668-11' '699-25' '668-4' '680-7' '668-64'
 '668-68' '662-11' '747-4' '696-7' '703-6' '708-6' '668-17' '665-3'
 '672-1' '665-1' '668-7' '665-14' '750-7' '668-34' '708-18' '744-10'
 '665-16' '668-57' '668-39' '705-1' '668-31' '672-5' '699-17' '672-6'
 '703-2' '750-1' '665-9' '747-6' '668-76' '747-3' '687-4' '677-1' '668-32'
 '747-1' '489-2' '652-2' '668-26' '668-6' '667-4' '699-13' '680-14'
 '708-20' '668-13' '665-7' '747-5' '668-18' '680-2' '665-10' '750-3'
 '668-66' '665-11' '668-37' '687-1' '668-9' '668-38' '695-2' '680-13'
 '668-36' '728-3' '665-2' '662-7' '489-10' '672-3' '665-17' '747-7'
 '668-54' '747-8' '667-1' '668-8' '674-5' '728-1' '668-5' '702-2' '680-10'
 '708-5' '666-1' '696-5' '674-3' '699-19' '665-6' '668-10' '699-6' '687-5'
 '672-8' '655-2' '668-33' '708-12' '668-3' '668-1' '737-2' '677-3' '668-2'
 '665-4' '668-35' '680-2' '737-2' '668-39' '665-14' '699-16' '655-2'
 '672-1' '665-7' '674-5' '668-37' '668-10' '668-6' '668-9' '668-56'
 '665-8' '662-10' '714-4' '489-10' '705-1' '668-13' '714-5' '747-4'
 '668-62' '677-3' '672-5' '708-18' '668-24' '750-1' '699-13' '687-3'
 '703-2' '672-4' '665-1' '703-6' '668-2' '750-3' '699-18' '668-17' '668-3'
 '746-6' '696-7' '695-1' '695-2' '668-18' '668-7' '747-1' '668-36' '672-8'
 '667-4' '668-64' '680-7' '699-2' '668-32' '750-7' '668-11' '747-9'
 '708-6' '665-12' '668-76' '680-13' '668-14' '668-50' '702-3' '747-3'
 '708-5' '746-5' '668-4' '667-2' '668-34' '747-8' '665-17' '747-7' '687-1'
 '672-7' '674-3' '666-1' '665-5' '668-54' '747-5' '672-6' '687-2' '696-5'
 '669-6' '695-5' '747-6' '667-7' '699-25' '665-6' '699-17' '677-1' '703-1'
 '668-16' '702-2' '708-13' '652-2' '665-4' '702-6' '708-16' '668-57'
 '688-2' '744-10' '665-10' '662-11' '747-2' '665-9' '680-10' '662-9'
 '728-3' '665-3' '749-1' '699-6' '708-19' '708-20' '668-1' '668-31'
 '687-5' '668-8' '674-6' '665-11' '668-68' '708-21' '699-12' '662-1'
 '667-1' '687-4' '668-38' '665-16' '662-7' '672-3' '668-33' '708-12'
 '661-2' '680-14' '728-1' '668-26' '665-15' '668-5' '699-19' '696-1'
 '665-2' '742-1' '668-66']
RangeIndex(start=0, stop=423, step=1)

In [6]:
# Create a Series:
pd.Series([1,2,3,4], index=['a','b','c','d'])

a    1
b    2
c    3
d    4
dtype: int64

In [7]:
## Use the Column Access [ ] and Python built-in functions to get the following information:
## What is the larget GHG emissions?
GHG_max = df['Total GHG Emissions (Metric Tons CO2e)'].max()
print (GHG_max)

14558.7

In [8]:
### TODO
## Can you find out which building is the largest GHG emission producer?

## Which is the oldest MIT building?

## Which building consume least water?

In [9]:
## Calculate the Total GHG emission intensity, by dividing total GHG emissions by total GFA (gross floor area):
df['Total_GHG_Emissions_Intensity_(kgCO2e/ft2)'] = df['Total GHG Emissions (Metric Tons CO2e)']/df['Property GFA - Self Reported (ft2)']

print (df['Total_GHG_Emissions_Intensity_(kgCO2e/ft2)'].max())
### TODO
## Which building has the most intensit GHG emission in MIT?

## Calculate the average water use intensity (kgal/ft2):
df['Water_Intensity_(kgal/ft2)'] = df['Water Use (All Water Sources) (kgal)']/df['Property GFA - Self Reported (ft2)']

0.06297356479527226

In [10]:
# Row access using loc:
df.loc[0]

Reporting Year                                                                 2018
Building ID                                                                   680-2
MapLot                                                                        47-85
Year Added                                                                     2015
Annual Report Received                                                          Yes
Report Type                                                                  Single
Buildings Included                                                              NaN
Parent Building ID                                                              NaN
Assessor Address                                                    84 Wadsworth St
Address Point GIS                                    60 Wadsworth St\nCambridge, MA
Grantee                                       Massachusetts Institute Of Technology
Property Type                                                    College/University
Year Built                                                                     1967
Property GFA - Self Reported (ft2)                                           172359
Total GHG Emissions (Metric Tons CO2e)                                          977
Water Use (All Water Sources) (kgal)                                         4896.7
Total_GHG_Emissions_Intensity_(kgCO2e/ft2)                                0.0056684
Water_Intensity_(kgal/ft2)                                                0.0284099
Name: 0, dtype: object

In [11]:
# Multiple rows access using loc
df.loc[1:5]

,Reporting Year,Building ID,MapLot,Year Added,Annual Report Received,Report Type,Buildings Included,Parent Building ID,Assessor Address,Address Point GIS,Grantee,Property Type,Year Built,Property GFA - Self Reported (ft2),Total GHG Emissions (Metric Tons CO2e),Water Use (All Water Sources) (kgal),Total_GHG_Emissions_Intensity_(kgCO2e/ft2),Water_Intensity_(kgal/ft2)
1,2018,662-7,69-62,2015,Yes,Parent,"662-7, 662-11",NaN,20 Sidney St,"20 Sidney St\nCambridge, MA",Massachusetts Institute Of Technology,Supermarket/Grocery Store,1999.0,42419.0,811.2,1086.0,0.019124,0.025602
2,2018,665-4,92-124,2015,Yes,Single,NaN,NaN,88 Auburn Pk,"70 Brookline St\nCambridge, MA",Massachusetts Institute Of Technology,Multifamily Housing,2000.0,19156.0,78.4,799.8,0.004093,0.041752
3,2018,662-1,69-159,2015,No,Single,NaN,NaN,350 Massachusetts Ave,"350 Massachusetts Ave\nCambridge, MA",Massachusetts Institute Of Technology,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,699-12,55-20,2016,Yes,Parent,"699-12, 699-17",NaN,184 Albany St,"184 Albany St\nCambridge, MA",Massachusetts Institute Of Technology,College/University,1980.0,120137.0,1679.3,136.1,0.013978,0.001133
5,2018,708-12,57-171,2015,Yes,Single,NaN,NaN,106 Vassar St,"48-R Massachusetts Ave\nCambridge, MA",Massachusetts Institute Of Technology,College/University,1955.0,5339.0,99.3,15.7,0.018599,0.002941

In [12]:
## Row and colmn access:
row_list = range(6)

print (df.loc[row_list, ['Building ID','Total GHG Emissions (Metric Tons CO2e)']])

  Building ID  Total GHG Emissions (Metric Tons CO2e)
0       680-2                                   977.0
1       662-7                                   811.2
2       665-4                                    78.4
3       662-1                                     NaN
4      699-12                                  1679.3
5      708-12                                    99.3

In [13]:
# Groupby to count rows by reporting year:
print (df.groupby('Reporting Year').size())
print ('-'*30)

# Groupby year and calculate annual total emissions:
print (df.groupby('Reporting Year')['Total GHG Emissions (Metric Tons CO2e)'].sum())
print ('-'*30)

# Groupby year and calculate annual average emissions:
print (df.groupby('Reporting Year')['Total GHG Emissions (Metric Tons CO2e)'].mean())

Reporting Year
2016    143
2017    140
2018    140
dtype: int64
------------------------------
Reporting Year
2016    218864.3
2017    176191.0
2018    167491.0
Name: Total GHG Emissions (Metric Tons CO2e), dtype: float64
------------------------------
Reporting Year
2016    1765.034677
2017    1355.315385
2018    1361.715447
Name: Total GHG Emissions (Metric Tons CO2e), dtype: float64

In [31]:
# Check missing values using Pandas:
print (pd.isnull(df['Total GHG Emissions (Metric Tons CO2e)']))

0      False
1      False
2      False
3       True
4      False
       ...
418     True
419    False
420    False
421    False
422    False
Name: Total GHG Emissions (Metric Tons CO2e), Length: 423, dtype: bool

In [33]:
# You can use this as a condition to slice data:
df[~pd.isnull(df['Total GHG Emissions (Metric Tons CO2e)'])]

,Reporting Year,Building ID,MapLot,Year Added,Annual Report Received,Report Type,Buildings Included,Parent Building ID,Assessor Address,Address Point GIS,Grantee,Property Type,Year Built,Property GFA - Self Reported (ft2),Total GHG Emissions (Metric Tons CO2e),Water Use (All Water Sources) (kgal)
0,2018,680-2,47-85,2015,Yes,Single,NaN,NaN,84 Wadsworth St,"60 Wadsworth St\nCambridge, MA",Massachusetts Institute Of Technology,College/University,1967.0,172359.0,977.0,4896.7
1,2018,662-7,69-62,2015,Yes,Parent,"662-7, 662-11",NaN,20 Sidney St,"20 Sidney St\nCambridge, MA",Massachusetts Institute Of Technology,Supermarket/Grocery Store,1999.0,42419.0,811.2,1086.0
2,2018,665-4,92-124,2015,Yes,Single,NaN,NaN,88 Auburn Pk,"70 Brookline St\nCambridge, MA",Massachusetts Institute Of Technology,Multifamily Housing,2000.0,19156.0,78.4,799.8
4,2018,699-12,55-20,2016,Yes,Parent,"699-12, 699-17",NaN,184 Albany St,"184 Albany St\nCambridge, MA",Massachusetts Institute Of Technology,College/University,1980.0,120137.0,1679.3,136.1
5,2018,708-12,57-171,2015,Yes,Single,NaN,NaN,106 Vassar St,"48-R Massachusetts Ave\nCambridge, MA",Massachusetts Institute Of Technology,College/University,1955.0,5339.0,99.3,15.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,2016,668-5,52A-21,2015,Yes,Single,NaN,NaN,33 Massachusetts Ave,"55 Massachusetts Ave\nCambridge, MA\n(42.35860...",Massachusetts Institute Of Technology,Nonresidential,1920.0,80942.0,1669.8,720.4
419,2016,696-1,47-83,2015,Yes,Single,NaN,NaN,70 Memorial Dr,"70 Memorial Dr\nCambridge, MA\n(42.360322651, ...",Massachusetts Institute Of Technology,Nonresidential,1980.0,107991.0,1255.1,456.3
420,2016,665-2,92-124,2015,Yes,Single,NaN,NaN,88 Auburn Park,"68-101 Brookline St\nCambridge, MA\n(42.361385...",Massachusetts Institute Of Technology,Residential,2000.0,6440.0,31.2,261.4
421,2016,742-1,59-37,2015,Yes,Single,NaN,NaN,410 Memorial Dr,"410 Memorial Dr\nCambridge, MA\n(42.355646673,...",Massachusetts Institute Of Technology,Nonresidential,1948.0,167923.0,894.1,3376.0
422,2016,668-66,52A-21,2015,Yes,Single,NaN,NaN,33 Massachusetts Ave,"25 Ames St\nCambridge, MA\n(42.360593048, -71....",Massachusetts Institute Of Technology,Nonresidential,1976.0,133798.0,3732.7,1171.4

In [16]:
# You can add a "~" to reverse the condition:
df[~pd.isnull(df['Total GHG Emissions (Metric Tons CO2e)'])].head()

,Reporting Year,Building ID,MapLot,Year Added,Annual Report Received,Report Type,Buildings Included,Parent Building ID,Assessor Address,Address Point GIS,Grantee,Property Type,Year Built,Property GFA - Self Reported (ft2),Total GHG Emissions (Metric Tons CO2e),Water Use (All Water Sources) (kgal),Total_GHG_Emissions_Intensity_(kgCO2e/ft2),Water_Intensity_(kgal/ft2)
0,2018,680-2,47-85,2015,Yes,Single,NaN,NaN,84 Wadsworth St,"60 Wadsworth St\nCambridge, MA",Massachusetts Institute Of Technology,College/University,1967.0,172359.0,977.0,4896.7,0.005668,0.028410
1,2018,662-7,69-62,2015,Yes,Parent,"662-7, 662-11",NaN,20 Sidney St,"20 Sidney St\nCambridge, MA",Massachusetts Institute Of Technology,Supermarket/Grocery Store,1999.0,42419.0,811.2,1086.0,0.019124,0.025602
2,2018,665-4,92-124,2015,Yes,Single,NaN,NaN,88 Auburn Pk,"70 Brookline St\nCambridge, MA",Massachusetts Institute Of Technology,Multifamily Housing,2000.0,19156.0,78.4,799.8,0.004093,0.041752
4,2018,699-12,55-20,2016,Yes,Parent,"699-12, 699-17",NaN,184 Albany St,"184 Albany St\nCambridge, MA",Massachusetts Institute Of Technology,College/University,1980.0,120137.0,1679.3,136.1,0.013978,0.001133
5,2018,708-12,57-171,2015,Yes,Single,NaN,NaN,106 Vassar St,"48-R Massachusetts Ave\nCambridge, MA",Massachusetts Institute Of Technology,College/University,1955.0,5339.0,99.3,15.7,0.018599,0.002941

In [17]:
# Create a condition using comparators:
year_2018 = df['Reporting Year']==2018

# Create a subset by filtering Pandas DataFrame
df_2018 = df[year_2018]

# Pandas write data:
df_2018.to_csv('MIT_Building_Energy_and_Water_Use_Data_Disclosure_2018.csv', index=False)

### 2.2 Numpy

[Numpy](https://docs.scipy.org/doc/numpy/reference/)

In [18]:
import numpy as np

# You can use 'np.unique()' to check how many unique values in a column:
print (np.unique(df['Reporting Year']))

[2016 2017 2018]

In [19]:
# Use numpy to calculate mean
print (np.mean(df['Total GHG Emissions (Metric Tons CO2e)']))

# Use numpy to calculate standard deviation
print (np.std(df['Total GHG Emissions (Metric Tons CO2e)']))

1492.16525198939
1999.8476086337405

In [20]:
### TODO
## How many buildings (with an unique Building ID) reported in this dataset?

### 3. GitHub

[__GitHub__](https://github.com) is Git repository hosting service with a web-based graphical interface. You can upload your scripts (.py files), notebooks (.ipynb), and datasets on GitHub for saving your project, version control, and collaboration. 

__Why use GitHub?__ In May 2019, there are over 37 million users and more than 100 million repositories (including at least 28 million public repositories) on GitHub. This is the largest host of source code in the world. Besides students, coders, and researchers, many tech companies and industry professionals are active users of GitHub, including [Google](https://github.com/google), [Microsoft](https://github.com/microsoft), [Bloomberg](https://github.com/bloomberg), and [Facebook](https://github.com/facebook). There are also many governmental agencies, non-profit organizations, or community groups using GitHub to publish data, analysis, or open source software, such as [City of Boston](https://github.com/CityOfBoston) and [New York City Department of City Planning](https://github.com/NYCPlanning).



Now you will register an account in GitHub and create your first repository.

Watch this 3 minutes video on how to collaborate via GitHub:

In [21]:
IFrame(width="650", height="400", src="https://www.youtube.com/embed/w3jLJU7DT5E")

### 4. CARTO

In this workshop, we will also explore several other open source tools. [CARTO](https://carto.com)

In [22]:
IFrame(width="650", height="400", src="https://www.youtube.com/embed/4hoU2vNl6wE")

Using CARTO, we can easily create an interactive map to visualize building GHG emissions inensity in MIT.

In [23]:
IFrame(width="650", height="400", src="https://yuanlai-dusp.carto.com/builder/a363ccf7-811f-4203-8137-855df123d7f1/embed")